<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="test" frontName="test_routing">
            <module name="Jisuz_TestRouting"/>
        </route>
        <route id="test2" frontName="test_ajax">
            <module name="Jisuz_TestRouting" before="Magento_Cms"/>
        </route>
    </router>
</config>
